html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    color: #eee;
}

.box {
    position: relative;
    width: 100%;
}

#mark {
    margin: 2vw;
    text-align: right;
    font-size: 8vw;
    font-weight: bold;
    position: relative;
    text-shadow: 0.4vw 0 0 #111, -0.4vw  0 0 #111, 0 -0.4vw 0 #111, 0 0.4vw 0 #111;
}

#photo-rgb {
    position: relative;
}

#photo-rgb img {
    width: 100vw;
    height: 75vw;
}

#photo-thermal {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
}

#photo-thermal img {
    width: 33vw;
    height: 33vw;
}

.lower-side {
    display: flex;
    height: 16vw;
    flex-direction: row;
    justify-content: space-between;
}

#T1, #T2 {
    width: 18vw;
}

.data-text {    
    height: 16vw;
    font-size: 5.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.data-text.L {width: 55vw;}
.data-text.R  {width: 45vw;}

.critical-text {
    margin: 6vw 2vw 3vw 2vw;
    font-size: 4vw;
    text-align: right;
}

.critical-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vw;
}

.critical-settings div {
    width: 10vw;
    height:10vw;
    line-height: 10vw;
    font-size: 4vw;
    /* border-radius: 8vw;     */
    background-color: #111;
    color: black;
    text-align: center;
    cursor: pointer;
}
.critical-settings div.low {
    color:#44EE44;
}
.critical-settings div.crit {
    background-color: lightgray;
    color: #EE4444;
    font-weight: bold;    
}
.critical-settings div.high {
    color: #EE4444;
}

@keyframes anim-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--- классы-статусы ---*/
.status-ok {
    color: #44EE44
}

.status-high {
    color: #EE4444
}

.status-working {
    color: #eeeebb
}

.rotating {
    animation-name: anim-rotation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
